* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-green: #01808a;
  --light-green: #009da8;
  --orange: #ffc107;
  --red: #fd166e;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Mardoto';
  src: url('./fonts/Mardoto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mardoto Bold';
  src: url('./fonts/Mardoto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mardoto Medium';
  src: url('./fonts/Mardoto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Mardoto Light';
  src: url('./fonts/Mardoto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Arnamu';
  src: url('./fonts/arnamu.ttf') format('truetype');
}

@font-face {
  font-family: 'Arnamu Bold';
  src: url('./fonts/arnamu_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LabGrotesque';
  src: url('./fonts/LabGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LabGrotesque Medium';
  src: url('./fonts/LabGrotesque-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'LabGrotesque Bold';
  src: url('./fonts/LabGrotesque-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f5f7fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background: var(--light-green);
  color: #ffffff;
}

img::selection,
label::selection,
.page-item .page-link::selection,
button::selection,
abbr::selection,
.calendarActiveDate::selection,
.calendarActiveDate span::selection {
  background-color: transparent !important;
  color: inherit;
}

a {
  text-decoration: none;
}

.inptError,
.darkInpt.inptError {
  border-color: var(--red) !important;
}

.upload-error-btn {
  background: var(--red) !important;
}
