.profileContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup-open {
  filter: blur(8px);
  transition: all 0.3s ease;
  position: relative;
}

.popup-open::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.55);
  z-index: 1;
}

.popup-open.lightDark::before {
  background: rgba(0, 0, 0, 0.55);
}

.sideBar,
.profileRCol {
  width: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.profileHeader,
.sideBar {
  flex: 0.2;
  position: relative;
}

.open-info-block {
  position: relative;
}

.open-info {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 16.3em;
  overflow: hidden;
  padding-left: 5px;
  z-index: 20;
  background: #dfe5f0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.2s ease;
}

.dark-open-info {
  background: #262626;
}

.dark-open-info .menuBtn {
  color: #ffffff !important;
}

.open-info-block:hover .open-info {
  visibility: visible;
}

.open-info:hover {
  visibility: visible;
}

.open-info .menuBtn {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0;
  padding: 20px;
  border-radius: 0;
  color: #000000;
  transition: all 0s ease;
}

.open-info .menuBtn:hover {
  color: #ffffff;
  background: linear-gradient(
    45deg,
    var(--light-green) 0%,
    #00959f 30%,
    #00cad8 100%
  );
  border-radius: 0;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.profileInfoSection {
  position: relative;
  height: 100%;
  background-color: #f5f7fa;
  margin-left: 20px;
  border-top-left-radius: 30px;
  padding: 1.5em 1em;
}

.lightDark {
  background-color: #262626 !important;
}

.Dark {
  background-color: #1d1d1d !important;
}

.MobileMenu {
  border-bottom: 1px solid #393939 !important;
}

.rowspan {
  flex: 2;
  color: #000000;
  margin-left: 15px;
  font-family: 'Arnamu Bold', sans-serif;
}

.mainLogo {
  width: 100%;
}

.mainLogo img {
  position: relative;
  max-width: 100%;
  width: 110px;
  left: 0em;
  top: 1em;
  margin-bottom: 2.7em;
}

.navItem {
  color: #000;
  text-decoration: none;
}

.menuBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  padding: 15px;
  font-size: 16px;
  font-family: 'Arnamu', sans-serif;
  padding-left: 20px;
  margin-right: 10px;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menuBtn:hover {
  background-color: #edf1f8;
  transform: scale(1.05);
}

.whiteNav {
  color: #ffffff;
}

.whiteElement {
  color: #ffffff !important;
}

.whiteNav:hover {
  color: #1d1d1d;
}

.whiteNav .menuBtn:hover,
.menuBtn.whiteNav:hover {
  background-color: #9e9e9e;
}

.activeNav .menuBtn {
  background: linear-gradient(
    45deg,
    var(--light-green) 0%,
    #00959f 30%,
    #00cad8 100%
  );
  color: #ffffff;
}

.menuArrowRight {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.addDocSection {
  position: relative;
  margin-top: 5em;
  background: url(../../assets/Images/AddDocBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 15px;
  overflow: hidden;
  cursor: pointer;
}

.AddDocIcon {
  position: absolute;
  max-width: 100%;
  width: 100px;
  right: 10px;
  bottom: -20px;
  transition: all 0.5s ease;
}

.addDocSection button,
.plusBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 28px;
  margin-top: 20px;
  width: 35px;
  height: 35px;
  border: none;
  font-weight: 600;
  color: black;
  background: linear-gradient(
    45deg,
    rgb(240, 192, 2) 11.2%,
    rgb(255, 226, 61) 100.2%
  );
  transition: all 0.5s ease;
}

.addDocSection:hover button {
  animation: pulseBtnWhite 2s infinite;
}

.addDocSection:hover .AddDocIcon {
  transform: scale(1.1);
}

.plusBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  position: absolute;
  bottom: 80px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-bottom: 3px;
  font-family: 'LabGrotesque', sans-serif;
  background: linear-gradient(
    45deg,
    rgb(240, 192, 2) 11.2%,
    rgb(255, 226, 61) 100.2%
  );
  animation: pulseBtn 2s infinite;
  transition: all 0s ease !important;
  z-index: 999;
}

@keyframes pulseBtn {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(240 192 2 / 70%);
  }
  70% {
    transform: scale(0.85);
    box-shadow: 0 0 0 20px rgba(212, 202, 90, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(206, 212, 90, 0);
  }
}

@keyframes pulseBtnWhite {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(0.85);
    box-shadow: 0 0 0 20px rgba(212, 202, 90, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(206, 212, 90, 0);
  }
}

.addDocSection h3 {
  color: #ffffff;
  font-family: 'Arnamu', sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
}

.addDocSection h3::selection {
  background-color: white;
  color: var(--dark-green);
}

.headerInpt {
  margin-top: 20px;
  width: 300px;
  padding: 10px 15px;
  border-radius: 50px !important;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'LabGrotesque', sans-serif;
  background-color: #f5f7fa !important;
}

.darkInpt {
  background-color: #262626 !important;
  border: 2px solid #393939 !important;
  color: #ffffff;
  color-scheme: dark;
}

.darkInpt::placeholder {
  color: #ffffff !important;
}

.passwordIcon.whiteIcon {
  color: #ffffff !important;
}

.headerInpt.selected {
  color: #ffffff;
  background: linear-gradient(
    45deg,
    var(--light-green) 0%,
    #00959f 30%,
    #00cad8 100%
  ) !important;
  font-weight: 600;
  border: none !important;
}

.headerInpt.selected::selection {
  background-color: transparent;
  color: #ffffff !important;
}

.companySelect {
  cursor: pointer;
}

.companySelect::selection {
  background-color: transparent;
  color: #000000;
}

.CompanyDropdownOptions {
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 154px;
  border-radius: 10px;
  border: none;
  margin-top: 23px;
  background: #dfe5f0 !important;
  z-index: 10;
}

.darkDropDown {
  background: #262626 !important;
  border: 2px solid #393939 !important;
}

.CompanyDropdownOption {
  width: 100%;
  color: #000000;
  font-family: 'LabGrotesque Medium', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 15px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.darkDropDown .CompanyDropdownOption {
  color: #ffffff;
}

.mobileCompanyDropDownDiv {
  display: grid;
  justify-content: center;
  position: relative;
  right: 10px;
}

.CompanyDropdownOption:hover,
.UserDropdown div:hover {
  background: linear-gradient(
    45deg,
    var(--light-green) 0%,
    #00959f 30%,
    #00cad8 100%
  );
  color: #ffffff;
}

.groupedHeaderSec {
  display: flex;
}

.dropdownIcon.open {
  color: #ffffff !important;
}

.dropdownIcon,
.searchIcon {
  right: 16px !important;
  top: 28px;
  transform: translateY(0) !important;
  width: 25px !important;
  height: 25px !important;
  color: black !important;
}

.notification-sec {
  position: relative;
}

.activeNotificationBell {
  color: var(--orange) !important;
}

.notification-list {
  position: absolute;
  z-index: 20;
  background-color: #ffffff;
  width: 345px;
  height: 400px;
  overflow: scroll;
  right: 20px;
  top: 95px;
  border-radius: 10px;
  border: 2px solid #d6d6d6;
}

.mobile-notification-list {
  right: -35px;
}

.notification-list h3 {
  font-size: 14px;
  margin-top: 5px;
  font-family: 'Arnamu Medium', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.notification-list h5 {
  font-size: 13px;
  margin-top: 10px;
  color: #707070;
  font-family: 'Arnamu Medium', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.notification-list.darkDropDown h3,
.notification-list.darkDropDown h5 {
  color: #ffffff;
}

.empty-notification-list {
  height: 200px;
}

.emptynotification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.notification-list h4 {
  font-family: 'Arnamu Medium', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 23px;
  color: #7b7b7b;
  text-align: center;
}

.notification {
  position: relative;
  padding: 0px 20px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.notification:hover {
  background-color: #edf1f8;
}

.notification-list.darkDropDown .notification:hover {
  background: linear-gradient(
    45deg,
    var(--light-green) 0%,
    #00959f 30%,
    #00cad8 100%
  );
}

.not-read-message {
  font-weight: 600 !important;
}

.not-read {
  position: absolute;
  left: 0;
  top: 35%;
  width: 10px;
  height: 10px;
  margin-left: 15px;
  background: linear-gradient(
    45deg,
    rgb(240, 192, 2) 11.2%,
    rgb(255, 226, 61) 100.2%
  );
  border-radius: 50%;
}

.notification hr {
  color: #d0d0d0;
  background-color: #d0d0d0;
  height: 1px;
  opacity: 0.4;
  margin-top: 15px;
}

.darkLine {
  opacity: 0.2 !important;
}

.notificationBell,
.profileDropDownIcon {
  position: relative;
  top: 38px;
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.profileDropDownIcon {
  top: 35px;
  border-radius: 50%;
}

.searchIcon {
  width: 18px !important;
}

.userBlock {
  position: relative;
  display: flex;
}

.userAvatar {
  position: relative;
  top: 18px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.userAvatar img {
  max-width: 100%;
  width: 100%;
}

.userName {
  position: relative;
  top: 38px;
  font-size: 17px;
  letter-spacing: 1px;
  margin-left: 10px;
  font-family: 'Arnamu Bold', sans-serif;
  cursor: pointer;
}

.UserDropdown {
  position: absolute;
  overflow: hidden;
  width: 100%;
  right: 0;
  margin-top: 5.5em;
  border-radius: 10px;
  background: #dfe5f0;
  z-index: 10;
}

.UserDropdown div {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #000000;
  font-family: 'Arnamu Medium', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
}

.UserDropdown.darkDropDown div {
  color: #ffffff;
}

.themePanel {
  justify-content: space-evenly;
  padding: 0 !important;
}

.themePanel:hover {
  background: inherit !important;
}

.themePanel h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arnamu Medium', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 15px;
  text-align: center;
  transition: all 0.2s ease;
  color: #000;
}

.darkPanel h3 {
  color: #ffffff;
}

.themePanel h3:hover {
  background: linear-gradient(
    45deg,
    var(--light-green) 0%,
    #00959f 30%,
    #00cad8 100%
  );
  color: #ffffff;
}

.activeTheme {
  background: linear-gradient(
    45deg,
    var(--light-green) 0%,
    #00959f 30%,
    #00cad8 100%
  );
  color: #ffffff !important;
}

.lightTheme {
  margin-right: 5px;
}

.darkTheme {
  margin-left: 5px;
}

.UserDropdown div svg {
  margin-right: 10px;
}

.mobile-top-menu,
.mobile-bottom-menu {
  display: none;
}

.bottom-menu-grouped-tabs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  position: relative;
  top: -7px;
}

.bottom-menu-grouped-tabs div {
  margin-left: 10px;
}

.bottom-menu-grouped-tabs a {
  display: grid;
  justify-content: center;
}

.bottom-menu-grouped-tabs img {
  width: 25px;
  margin: 0 auto;
}

.tab-menu-headline,
.tab-menu-headline-hidden {
  font-family: 'Arnamu', sans-serif;
  letter-spacing: 1px;
  color: black;
  font-weight: 600;
  font-size: 12px;
  margin-top: 5px;
}

.tab-menu-headline-hidden {
  opacity: 0;
}

.mobile-menu-bars {
  position: relative;
  top: -7px;
}

.mobileSearchIcon,
.mobileBellIcon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 25px;
  right: 10px;
}

.mobileBellIcon {
  top: 35px;
  margin-left: 15px;
  margin-right: 15px;
}

.mobileSideMenu {
  display: none;
  position: fixed;
  bottom: 1em;
  padding: 0.5em;
  padding-bottom: 6em;
  width: 65%;
  border-top-left-radius: 15px;
  border: 1px solid #b2b2b2;
  right: -20em;
  z-index: 5;
  background-color: #eff0f2;
}

.moveLeft {
  animation: moveLeft 0.7s ease-in-out forwards;
}

.moveRight {
  animation: moveRight 0.7s ease-in-out forwards;
}

@keyframes moveLeft {
  0% {
    right: -20em;
  }
  100% {
    right: -0.5em;
  }
}

@keyframes moveRight {
  0% {
    left: -12em;
  }
  100% {
    left: 0;
  }
}

.mobileComp {
  display: none;
}

.AddsSection {
  width: 35%;
  /* height: auto; */
  height: 218px;
  background: url(../../assets/Images/office.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.texekatu-menu {
  margin-left: 25px;
  display: none;
}

.showTexekatu {
  display: block;
}

.texekatu-menu .menuBtn {
  margin-top: 0;
}

.small-arrow {
  width: 23px;
  height: 23px;
}

@media screen and (max-width: 500px) {
  body {
    background-color: #f5f7fa;
  }
  .mobileSideMenu,
  .mobileComp {
    display: block;
  }
  .mobile-top-menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    padding: 0 1.5em;
    border-bottom: 1px solid #b2b2b2;
    z-index: 20;
  }

  .mobile-bottom-menu {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 125px;
    bottom: -40px;
    z-index: 9999;
  }

  .sideBar,
  .profileHeader {
    display: none;
  }

  .profileInfoSection {
    margin-left: 0;
    padding: 1em;
    padding-bottom: 3em;
    border-radius: 0;
    margin-top: 5em;
    overflow: hidden;
  }

  .mobileLogo img {
    width: 90px;
    top: 1.2em;
  }

  .searchIcon {
    position: relative;
  }

  .mobileSearch {
    position: absolute !important;
    right: -6em;
    top: 3.5em;
  }

  .UserDropdown {
    width: 50%;
    right: 1.5em;
    margin-top: 5.7em;
  }

  .UserDropdown div {
    font-size: 15px;
  }

  .searchIcon {
    width: 23px !important;
    height: 23px !important;
    top: 25px !important;
  }

  .notificationBell {
    top: 34px;
    margin-left: 5px;
  }

  .userAvatar {
    top: 20px;
    width: 50px;
    height: 50px;
  }

  .menuBtn {
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .CompanyDropdownOptions {
    position: fixed;
    left: -12em;
    width: 37%;
    height: 27%;
    padding-bottom: 6em;
    bottom: 1em;
    border-radius: 0;
    border-top-right-radius: 10px;
  }

  .AddsSection {
    width: 100%;
    height: 300px;
    margin: 0;
  }
}
