.AddPopUp.AddPositionPopUp.AddDivisionPopUp {
  padding-top: 20px;
  padding-left: 30px;
}

.add-divison-btn {
  margin-top: 15px;
}

.submited-succesfully-popup {
  font-family: 'Arnamu', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 20px;
}
