.GroupedBlocks {
  display: flex;
  margin-bottom: -20px;
}

.GroupedBlocksTwo {
  width: 71.7%;
  margin-right: 10px;
}

.labels {
  position: relative;
  left: 30px;
}

.dashBlock {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 40%;
  margin-bottom: 20px;
}

.NumbersBlock {
  width: 25%;
}

.NumberBlock1,
.NumberBlock2 {
  position: relative;
  top: 10px;
  background: url(../../assets/Images/NumBG1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 20px;
  border-radius: 15px;
  color: #ffffff;
}

.NumberBlock2 {
  margin-top: 10px;
  background: url(../../assets/Images/NumBG2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.NumberBlock1 h3,
.NumberBlock2 h3 {
  font-size: 35px;
  font-family: 'LabGrotesque', sans-serif;
  font-weight: 500;
}

.NumberBlock1 h3::selection,
.NumberBlock2 h3::selection,
.NumberBlock1 h5::selection,
.NumberBlock2 h5::selection,
.label-percentage::selection {
  background-color: #ffffff;
  color: var(--dark-green);
}

.NumberBlock1 h5,
.NumberBlock2 h5 {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Arnamu', sans-serif;
  font-weight: 500;
}

.Chart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 5px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.chartlabel {
  display: grid;
  justify-content: flex-start;
  width: 345px;
  margin-right: 20px;
}

.label-percentage {
  width: 70px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  font-family: 'LabGrotesque', sans-serif;
  font-weight: 600;
}

.label-text {
  font-size: 13px;
  letter-spacing: 1px;
  font-family: 'Arnamu', sans-serif;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.pieChart {
  position: relative;
  top: 10px;
  right: 20px;
}

.chartFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 25px;
}

.chartFilters input[type='radio'] {
  position: relative;
  padding: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.chartFilters.darkChartFilters input[type='radio'] {
  border: 2px solid rgb(255, 255, 255);
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2.55px;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

input[type='radio']:checked {
  border: 2px solid var(--orange) !important;
}

input[type='radio']:checked::before {
  background: linear-gradient(
    45deg,
    rgb(240, 192, 2) 11.2%,
    rgb(255, 226, 61) 100.2%
  );
}

.chartFilters label {
  font-size: 15px;
  font-family: 'Arnamu', sans-serif;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.sliderBlock {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
}

.sliderHeaderBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.sliderHeaderBlock h3 {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Arnamu', sans-serif;
}

.sliderHeaderBlock button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Arnamu Bold', sans-serif;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  background: linear-gradient(
    45deg,
    var(--light-green) 0%,
    #00959f 30%,
    #00cad8 100%
  );
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sliderHeaderBlock button svg {
  margin-left: 10px;
}

.sliderHeaderBlock button:hover {
  transform: scale(1.1);
}

.empty-content {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  height: 93.4%;
  width: 63%;
  position: absolute;
  left: 1.7em;
  top: 1.5em;
  bottom: 1em;
  z-index: 5;
  padding: 2em;
}

.empty-content-image-block {
  position: relative;
  padding: 0 7em;
}

.empty-content-image-block img {
  position: absolute;
  margin: 0 auto;
  left: 41%;
  top: -5em;
  max-width: 100%;
  width: 18%;
}

.empty-content-image-block h5 {
  background-color: #f5f7fa;
  color: #717171;
  border-radius: 20px;
  font-family: 'Arnamu', sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 0 15px;
  padding-bottom: 2em;
  padding-top: 3.7em;
  letter-spacing: 1px;
}

.welcome-section {
  margin-top: 4em;
  margin-bottom: 5em;
}

.welcome-section h5 {
  color: #717171;
  font-family: 'Arnamu', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}

.welcome-section h3 {
  font-family: 'Arnamu', sans-serif;
  font-weight: 600;
  font-size: 27px;
  letter-spacing: 1px;
}

.welcome-btn {
  background: linear-gradient(
    45deg,
    rgb(240, 192, 2) 11.2%,
    rgb(255, 226, 61) 100.2%
  ) !important;
  color: black !important;
  text-transform: uppercase !important;
  font-family: 'Arnamu', sans-serif !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  letter-spacing: 2px !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 20px !important;
  cursor: pointer;
  transition: all 0.3s ease;
}

.welcome-btn:hover {
  transform: scale(1.05);
}

.singleStaffRow .welcome-btn {
  position: relative;
  top: 10px;
}

.sliderBlock.no-staff-content .welcome-section {
  margin-top: 1em;
  margin-bottom: 7em;
}

.sliderBlock.no-staff-content .empty-content-image-block {
  margin-bottom: 2em;
}

@media screen and (max-width: 500px) {
  .empty-content {
    height: 42%;
    width: 92%;
  }
  .NumberBlock1,
  .NumberBlock2 {
    top: 0;
  }
  .empty-content-image-block {
    padding: 0;
  }
  .empty-content-image-block h5 {
    font-size: 16px;
    padding: 2em;
    padding-top: 4em;
  }
  .empty-content-image-block img {
    left: 33%;
    top: -3em;
    width: 35%;
  }
  .GroupedBlocks {
    display: block;
    margin-bottom: 0;
  }
  .GroupedBlocksTwo {
    margin-bottom: 5em;
  }
  .NumbersBlock {
    width: 100%;
  }
  .dashBlock {
    margin: 20px 0;
    padding: 15px;
    width: 100%;
  }
  .chartFilters {
    right: 0;
  }
  .Chart {
    display: block;
  }
  .label-text {
    padding-right: 2em;
  }
  .pieChart {
    left: 27%;
  }
  .GroupedBlocksTwo {
    width: 100%;
  }
  .event-calendar {
    display: none !important;
  }
  .labels {
    left: 0;
  }
  .sliderHeaderBlock {
    display: grid;
  }
  .sliderHeaderBlock button {
    margin-top: 10px;
  }
}
